.header{
  background-color: #fff;
  font-size: 13px;
  padding: 20px 20px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 110px;
  border-bottom: 1px solid #ecebeb;
  top: 0;
}
.clearfix{
  display: block;
}
.header_top{
  display: block;
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
  height: 35px;
}
.header_bot{
  display: block;
  margin-top: 5px;
  padding: 0 20px;
  box-sizing: border-box;
  line-height: 1.5em;
  width: 100%;
  /* height: 50px; */
}
.header_title{
  color: #808080;
  font-size: 11px;
  font-weight: normal;
  float: left;
  line-height: 1.5em;
}
.header_left{
  float: right;
  height: inherit;
}
#header_btn{
  display: inline-block;
  background-color: #3e3a39;
  color: white;
  height: 31px;
  line-height: 29px;
  width: auto;
  margin: 0;
  padding: 0 10px;;
}
#header_btn:hover{
  background-color: white;
  color: #3e3a39;
}
.menu_btn {
  margin-left: 45px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.menu_line {
  width: 33px;
  height: 19px;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.menu_line span {
  position: absolute;
  display: block;
  height: 1px;
  background-color: #3e3a39;
  margin: auto;
  right: 0;
  cursor: pointer;
}
.menu_line span:nth-child(1) {
  width: 30px;
  top: 0;
}
.menu_line span:nth-child(2) {
  width: 25px;
  top: 0;
  bottom: 0;
}
.menu_line span:nth-child(3) {
  width: 20px;
  bottom: 0;
}
.header_logo{
  width: 271px;
  margin-top: 10px;
  display: block;
  float: left;
}
.header_nav{
  display: inline-block;
  float: right;
}
