*{
  line-height: 2.14;
  font-weight: lighter;
}
.background{
  width:100%;
  height: auto;
  background-color: #595757;
  color: white;
  text-align: center;
}

.container{
  text-align: center;
}
.toptext{
  font-size: 1em;
  padding-top: 65px;
  padding-bottom: 0px;
  margin: 0 auto;
}
.paragraph{
  font-size: 0.9em;
  text-align: left;
  padding: 80px 0px;
  max-width: 645px;
  padding-top: 20px;
  margin: 0 auto;
}
#slogan{
  font-size: 0.7em;
  letter-spacing: 3px;
  font-weight: 100;
  font-family: "\6E38\30B4\30B7\30C3\30AF\4F53", "Yu Gothic", YuGothic, "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF Pro", "Hiragino Kaku Gothic Pro", '\30E1\30A4\30EA\30AA' , Meiryo , Osaka, "\FF2D\FF33 \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
}
